{% extends '::base.html.twig' %}
{% block title %}MAIN{% endblock %}

{% block stylesheets %}{% endblock %}
{% block navigation %}{% endblock %}
{% block sidebarleft %}


{% endblock %}

{% block sidebarright %}{% endblock %}

{% block body %} 
    <ul>
            <li>
			<h4>товар 1</h4>
			<p>описание<p>
            <img src="kartinka.jpg"> 
			<button>заказать</button>
			</li>
			
    </ul>

{% endblock %} 
  
	 
