{% extends '::base.html.twig' %}
{% block title %}MAIN{% endblock %}

{% block body %} 
    <ul>
            <li>
			<h4>товар 1</h4>
			<p>описание<p>
            <img src="kartinka.jpg"> 
			<button>заказать</button>
			</li>
    </ul>
{% endblock %} 
  
	 
